# Potentially stored in 1password named 'financial' maybe? :-)
[sony_will]
tenno  = 001
kozano = 777777
pass   = abcdef
[sony_s]
tenno  = 001
kozano = 777777
pass   = abcdef
[rakuten]
user = user
pass = abcdef
[ufj]
keiyakuno = 777777
pass      = abcdef
[jnb]
tenno  = 001
kozano = 777777
pass   = abcdef
[seven]
user = user
pass = abcdef
[mobilePasumo]
user = user
pass = abcdef
